<div *ngIf="!loaded" class="preloader-wrapper big active loader">
  <div class="spinner-layer spinner-blue-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div class="flex-container">
  <app-shop-item *ngFor="let shop of shops" [shop]="shop" [actions]="actions"
    (onClickAction)="handleActionClick($event)"></app-shop-item>
</div>
